.horizontal.menu {
    width: 20%;
    heigth: 40%;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

.main {
    text-align: center;
    border-style: solid;
    height: 90%;
}

.item{
	text-align: center;
}

.btn-info{
    display:block;
}

